<br>
<footer id="content" class="bg-light border-top py-4  ">
  <div class="container">
    <div class="row text-center text-md-start align-items-center">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="f-info-social d-flex justify-content-center justify-content-md-start gap-3">
          <a href="https://www.instagram.com/cant.bench.220/" target="_blank" class="text-dark" aria-label="Instagram">
            <i class="fa-brands fa-instagram fa-lg"></i>
          </a>
          <a href="https://github.com/rautaditya2606" target="_blank" class="text-dark" aria-label="Twitter">
            <i class="fa-brands fa-github fa-lg"></i>
          </a>
          <a href="https://www.linkedin.com/in/aditya-raut-3b4bba31b/" target="_blank" class="text-dark" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin fa-lg"></i>
          </a>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="f-info-co text-center">
          &copy; <%= new Date().getFullYear() %> NestNow Private Limited
        </div>
      </div>

      <div class="col-md-4">
        <div class="f-info-links d-flex justify-content-center justify-content-md-end gap-3">
          <a href="/listings/privacy" class="text-decoration-none text-dark">Privacy Policy</a>
          <a href="/listings/tnc" class="text-decoration-none text-dark">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/darkMode.js"></script>
</footer>